/* .App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
body{
  background: linear-gradient(to right, rgb(250, 146, 255), yellow);
  background-size: cover ;
}